[submodule "arxiv/paper65"]
	path = arxiv/paper65
	url = git@github.com:lmxxf/json-as-motor-skill.git
	ignore = all
[submodule "arxiv/wechat67"]
	path = arxiv/wechat67
	url = git@github.com:lmxxf/grokking-manifold-discovery-experiment.git
[submodule "arxiv/wechat62"]
	path = arxiv/wechat62
	url = git@github.com:lmxxf/grokking-train-learnability.git
[submodule "arxiv/paper15/llama3-70b-sae-inspect"]
	path = arxiv/paper15/llama3-70b-sae-inspect
	url = git@github.com:lmxxf/llama3-70b-sae-inspect.git
