[submodule "arxiv/paper65"]
	path = arxiv/paper65
	url = git@github.com:lmxxf/json-as-motor-skill.git
	ignore = all
[submodule "arxiv/wechat67"]
	path = arxiv/wechat67
	url = git@github.com:lmxxf/grokking-manifold-discovery-experiment.git
